@charset "UTF-8";
/* CSS Document */
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  text-align: center;
}
h2 {
	 font-size: 70px;
	
}
ul {font-size: 36px;}
p {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 33px;
}
body {
  background-color:#c8eec5;
  color: black;

}
#header {
    background-image: url("heros.jpg");
    text-align: center; 
    color: #ffffff;
    height: 150px;
    background-repeat: no-repeat;
    padding: 20px 25px 15px 25px;
    background-position: center;
}
#content {
	
}
#Meow {
	background-color: #cadetblue;
	padding: 15px 15px 15px 15px;
	text-align: center;
}
.onethirdcolumn {
    background-color: cornflowerblue;
    margin: 5px;
    padding: 5px;
	width: 31.3%;
	float: left;
}

a:link {
  color: #2d2f24;
	background-color: floralwhite;
	padding: 10px;
	border-radius: 5px;
}

a:visited {
  color: #8b8f76;
}

a:hover {
  color: #ffffff;
	background-color: darkslategray;
}

a:active {
  color: #f1ead8;
}

		
		
